In [1]:
import numpy as np 

import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

from sklearn.preprocessing import LabelEncoder, StandardScaler

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

pd.set_option('display.max_columns', None)

#### Data Cleaning

In [2]:
# Opening the csv file

df = pd.read_csv(r'dataset.csv')

df.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0

In [3]:
# Get Data information

df.info(max_cols = None)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [4]:
# Get Data shape 

shape = df.shape 

print(f'The Dataset has {shape[0]} Rows and {shape[1]} Columns')

The Dataset has 1470 Rows and 35 Columns

In [5]:
# Check for Empty cells and null values

df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [6]:
# Check for Duplicates

df.duplicated().sum()

np.int64(0)

In [7]:
# Get the Value Count of each Column

df.nunique().sort_values()

EmployeeCount                  1
Over18                         1
StandardHours                  1
Attrition                      2
OverTime                       2
PerformanceRating              2
Gender                         2
BusinessTravel                 3
Department                     3
MaritalStatus                  3
RelationshipSatisfaction       4
StockOptionLevel               4
JobSatisfaction                4
EnvironmentSatisfaction        4
JobInvolvement                 4
WorkLifeBalance                4
Education                      5
JobLevel                       5
EducationField                 6
TrainingTimesLastYear          7
JobRole                        9
NumCompaniesWorked            10
PercentSalaryHike             15
YearsSinceLastPromotion       16
YearsWithCurrManager          18
YearsInCurrentRole            19
DistanceFromHome              29
YearsAtCompany                37
TotalWorkingYears             40
Age                           43
HourlyRate                    71
DailyRate                    886
MonthlyIncome               1349
MonthlyRate                 1427
EmployeeNumber              1470
dtype: int64

In [8]:
# Get redundant columns

redundant_cols = []

for col in df.columns.tolist() :
     if df[col].nunique() == 1 :
        redundant_cols.append(col)
        
redundant_cols

['EmployeeCount', 'Over18', 'StandardHours']

In [9]:
# Remove redundancy

df.drop(columns = redundant_cols, inplace = True)

df.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Yes,11,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,No,23,4,4,1,10,3,3,10,7,1,7

### Feature Engineering

In [10]:
# Check for Numerical Columns 

numerical_cols = df.select_dtypes(include = 'int').columns.tolist()

print(str( len(numerical_cols) ) + ' Numerical Columns \n \n' + str(numerical_cols) )

24 Numerical Columns

['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [11]:
# Check for Categorical Columns

categorical_cols = df.select_dtypes( include = ['object', 'float'] ).columns.tolist()

print(str( len(categorical_cols) ) + ' Categorical Columns \n \n' + str(categorical_cols) )

8 Categorical Columns

['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime']

#### Feature Addition

In [12]:
# Add Debt Feature

df['Debt'] = df['MonthlyRate'] - df['MonthlyIncome']

df['Debt'].head(2)

0    13486
1    19777
Name: Debt, dtype: int64

#### Feature Selection

In [13]:
# Define x

x = df.drop( columns = ['Attrition', 'EmployeeNumber'])

x.head(2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Debt
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Yes,11,3,1,0,8,0,1,6,4,0,5,13486
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,No,23,4,4,1,10,3,3,10,7,1,7,19777

In [14]:
# Define and encode y (Dependent Variable)

y = df['Attrition'].map({ 'Yes': 1, 'No': 0 })

y

0       1
1       0
2       1
3       0
4       0
       ..
1465    0
1466    0
1467    0
1468    0
1469    0
Name: Attrition, Length: 1470, dtype: int64

In [15]:
# Get the categorical columns of variable x

x_categorical_cols = x.select_dtypes(include = ['float', 'object']).columns.tolist()

print(str( len(x_categorical_cols) ) + ' Categorical Columns of Independent Variable (x)  \n \n' + str(x_categorical_cols) )

7 Categorical Columns of Independent Variable (x)

['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime']

#### Feature Encoding

In [16]:
# Instantiate Label Encoder

le = LabelEncoder()

In [17]:
# Encode x 

for element in x_categorical_cols:
    x[element] = le.fit_transform(x[element])

x.head(2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Debt
0,41,2,1102,2,1,2,1,2,0,94,3,2,7,4,2,5993,19479,8,1,11,3,1,0,8,0,1,6,4,0,5,13486
1,49,1,279,1,8,1,1,3,1,61,2,2,6,2,1,5130,24907,1,0,23,4,4,1,10,3,3,10,7,1,7,19777

#### Feature Scaling

In [18]:
# Instantiate StandardScaler

SS = StandardScaler()

In [19]:
# Scale x

Scaledx = SS.fit_transform(x)

Scaledx

array([[ 0.4463504 ,  0.59004834,  0.74252653, ..., -0.67914568,
         0.24583399,  0.67623764],
       [ 1.32236521, -0.91319439, -1.2977746 , ..., -0.36871529,
         0.80654148,  1.42576899],
       [ 0.008343  ,  0.59004834,  1.41436324, ..., -0.67914568,
        -1.15593471, -0.89407285],
       ...,
       [-1.08667552,  0.59004834, -1.60518328, ..., -0.67914568,
        -0.31487349, -1.04586159],
       [ 1.32236521, -0.91319439,  0.54667746, ..., -0.67914568,
         1.08689522,  0.00510266],
       [-0.32016256,  0.59004834, -0.43256792, ..., -0.36871529,
        -0.59522723, -0.23663937]], shape=(1470, 31))

### Modelling

In [20]:
# Instantiate Train_Test_Split

x_train, x_test, y_train, y_test = train_test_split(Scaledx, y, test_size=0.2, random_state=30)

In [21]:
# Instantiate Logistic Regression

log = LogisticRegression()

In [22]:
x_train

array([[ 1.43186707,  0.59004834, -1.20604782, ..., -0.05828489,
        -0.59522723, -0.20280263],
       [ 0.4463504 ,  0.59004834,  0.74252653, ..., -0.67914568,
         0.24583399,  0.67623764],
       [-0.32016256, -0.91319439, -0.33092473, ...,  0.5625759 ,
         1.36724896,  1.50142508],
       ...,
       [-0.53916626,  0.59004834, -0.38794408, ..., -0.67914568,
         0.24583399,  0.47143007],
       [-0.75816996,  0.59004834,  0.83177421, ...,  1.1834367 ,
         0.80654148,  1.33367112],
       [-0.86767181,  0.59004834, -0.97797041, ..., -0.36871529,
        -0.87558097,  0.94645495]], shape=(1176, 31))

In [23]:
y_train

539     0
0       1
847     0
518     0
154     0
       ..
919     0
1164    0
500     0
941     0
421     1
Name: Attrition, Length: 1176, dtype: int64

In [24]:
# Train Model

log.fit(x_train, y_train)

LogisticRegression()

In [25]:
log_prediction = log.predict(x_test)

In [27]:
accuracy_score(y_test, log_prediction)

0.8571428571428571